section.leading-providers-section
    background #ffffff

.leading-providers__row
    display flex
    position relative
    flex-direction row
    padding 0 192px 229px 135px

@media (max-width 1600px)
    .leading-providers__row
        padding-left: 25px;
        justify-content: center;
        padding-right: 25px;

@media (max-width 1500px)
    .leading-providers__row
        padding-bottom 90px

@media (max-width 1200px)
    .leading-providers__row
        padding-bottom 50px

@media (max-width 800px)
    .leading-providers__row
        flex-direction column-reverse
        align-items centert   

.leading-providers__figure
    position absolute
    bottom 126px
    right 0

    img
        object-position 10px 0

@media (max-width 1250px)
    .leading-providers__figure
        display none

.leading-providers__image
    display block
    margin-right 137px
    flex-basis 650px

@media (max-width 1350px)
    .leading-providers__image
        margin-right 70px
        width 50%
        flex-basis: 50%;
        flex-shrink: 0;

        img 
            display block
            width 100%

@media (max-width 850px)
    .leading-providers__image
        margin-right 50px

@media (max-width 800px)
    .leading-providers__image
        align-self center 
        width 75%
        flex-basis 0px
        margin-right 0

@media (max-width 500px)
    .leading-providers__image
        width 100%

.leading-providers__info
    display flex
    flex-direction column
    padding-top 56px
    align-items: flex-start;

    @media (max-width 1060px)
        padding-top 0

    @media (max-width 800px)
        align-items center
        text-align center

    h2.leading-providers__title
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 156%
        color: #000000;
        margin 0 0 26px 0
        padding 0

    hr.leading-providers__divider
        display block
        width: 56px;
        height: 2px;
        padding 0
        margin 0
        background: #000000;
        border-radius: 10px;

    p.leading-providers__text
        font-style: normal;
        max-width: 450px;
        font-weight: 300;
        font-size: 18px;
        line-height 167% 
        color: #7D7987;
        padding 0
        margin 31px 0 37px 0

    .leading-providers__learn-more
        margin-bottom 37px

    