@import 'libs.styl'

hidden()
    display none !important

*
    box-sizing border-box

.container
    max-width 1600px
    margin 0 auto
    overflow-x hidden

body
    font-family: 'Muli Regular', sans-serif
    width 100vw
    height 100vh
    overflow-x hidden


.button-outline-blue
    padding 3px 51px 1px 51px
    border 1.4px solid #458FF6
    border-radius 55px
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 333%
    color: #458FF6
    background #fff

button
    outline none

@import 'header.styl'
@import 'welcome-section.styl'
@import 'services-section.styl'
@import 'leading-providers.styl'
@import 'download-apps-section.styl'
@import 'customer-reviews-section.styl'
@import 'articles-section.styl'
@import 'footer.styl'
@import 'mobile-menu.styl'