-
    const customerReviewsTitle = 'What our customer are saying'
    const customerName = 'Edward Newgate'
    const customerPosition = 'Founder Circle'
    const customerPhrase = '“Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”'



section.customer-reviews-section
    .container
        .customer-reviews-section__row
            .customer-reviews-section__info
                .customer-reviews__decoration_1
                        img(src="static/img/figure-customer-reviews1.svg")
                .customer-reviews__decoration_2
                        img(src="static/img/figure-customer-reviews2.svg")              
                h2.customer-reviews-section__title=customerReviewsTitle
                hr.customer-reviews-section__divider
                .customer-reviews-section__content